
<div class="px-3 py-2 bg-secondary text-white">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h2 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi d-block mx-auto mb-1 " width="24" height="24"></svg>
        {{title}}          
        </h2>
    <a type="button" class="btn btn-danger filled" href="/" class="nav-link text-white">
    Logout
    </a>            
    </div>
    </div>
</div> 
</br>
<div class="jumbotron jumbotronMvd jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Retailer Dashboard</h1>
    <p class="lead"> <mark>Retailer</mark> records, controls and monitors the moves made by both Dealers and Manufacturers.</p>
  </div>
</div>
</br>
<div class="container-fluid">
    <div class="row rowBox" >
      <div class="card card-shadow">
        <div class="card-header" style="background-color:rgb(173, 186, 192)">
            <legend class="text-center">Complete Wine List</legend>
        </div>
        <div class="card-body" >
          <div class="table-container">
              <table class="table" style="width:100%">
                  <thead id="colored-table">
                      <th>WineId</th>
                      <th>AssetType</th>
                      <th>Name</th>
                      <th>tannin</th>
                      <th>alcohol</th>
                      <th>acidity</th>
                      <th>Dom</th>
                      <th>Status</th>
                      <th> </th>
                  </thead>
                  <tbody>
                      {{#each itemList}}
                      <tr>
                          <td>{{this.Key}}</td>
                          <td>{{this.Record.assetType}}</td>
                          <td>{{this.Record.name}}</td>
                          <td>{{this.Record.tannin}}</td>
                          <td>{{this.Record.alcohol}}</td>
                          <td>{{this.Record.acidity}}</td>
                          <td>{{this.Record.dateOfManufacture}}</td>
                          <td>{{this.Record.status}}</td>
                          <td><button class="btn btn-danger filled" onClick="getItemHistory('{{this.Key}}');">Get history</button></td>
                      </tr>
                      {{/each}}
                  </tbody>
              </table>
          </div>
        </div>    
      </div>
  </div>
</div>
</br>
<div class="container-fluid">
    <div class="row rowBox" >
        <div class="col-md-12 col-sm-12">
        <div class="card card-shadow">
        <div class="card-header" style="background-color:wheat">
            <legend class="text-center">Already Registered</legend></br>
        </div>
        <div class="card-body"></div>  
        <div class="row rowBox" > 
        <div class="col-md-12 col-sm-12">
        <div class="table-container">
            <table class="table" style="width:100%">
                <thead id="colored-table">
                    {{!-- <th>Car Id</th> --}}
                    <th>CarId</th>
                    {{!-- <th>Next Station</th> --}}
                    <th>Color</th>
                    <th>DOM</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th> </th>
                </thead>
                <tbody>
                    {{#each itemList}}
                    {{#checkRegistered this.Record.status "Registered"}}
                    <tr>
                        <td>{{this.Key}}</td>
                        <td>{{this.Record.color}}</td>
                        <td>{{this.Record.dateOfManufacture}}</td>
                        <td>{{this.Record.make}}</td>
                        <td>{{this.Record.model}}</td>
                        <td>{{this.Record.ownedBy}}</td>
                        <td>{{this.Record.status}}</td>
                        <td>
                            <button type="button" class="btn btn-danger filled" data-toggle="modal" data-target="#registerModal" data-id={{this.Key}}>Re-Register</button></td>
                        </td>
                    </tr>
                    {{/checkRegistered}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        </div>
        </div>
        </div>
        </div>
</div>
</div>
</br>



<script type="text/javascript">
{{!-- $(function () { --}}
  $('#myModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var QVinNumb = button.data('wineid'); 
    var modal = $(this);
    modal.find('#wineid').val(wineid);
  });
{{!-- }); --}}
</script>

<script type="text/javascript" src='/javascripts/main.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
