<h1>{{title}}</h1>
{{!-- <p>Manufacturer Dashboard</p> --}}

<h2>
    Add New Wine
</h2>

<form id="addform">
    <table>
        <tr>
            <td>CarId</td>
            <td><input type="text" id="wineid" /></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" id="name" /></td>
        </tr>
        <tr>
            <td>Acidity</td>
            <td><input type="text" id="acidity" /></td>
        </tr>
        <tr>
            <td>Tannin</td>
            <td><input type="text" id="tannin" /></td>
        </tr>
        <tr>
            <td>Alcohol</td>
            <td><input type="text" id="alcohol" /></td>
        </tr>

        <tr>
            <td>Date of manufacture</td>
            <td><input type="text" id="dom" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="addData(event)">Add New Car</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>
<br>
<h2>
    Query Wine
</h2>

<form id="readform">
    <table>
        <tr>
            <td>CarId</td>
            <td><input type="text" id="readWineId" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="readData(event)">Query Wine</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>